/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HOME~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---Elementos de secciones---*/
#home-main section {
    width: 90%;
}

#home-main article {
    border: dotted 1px black;
}

#home-main p {
    text-align: justify;
    max-width: 1050px;
    margin: 0 auto;
    padding: 10px;
}

.section-divider {
    border: none;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    margin: 40px auto;
    width: 90%;
}


/*---Seccion categorias---*/
.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.category-item {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid rgb(74, 60, 201);
}

.category-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s;
}

.category-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-weight: bold;
    font-size: 18px;
    opacity: 1;
}

.category-overlay span {
    padding-bottom: 10px;
}

.category-item:hover img {
    transform: scale(1.1);
}


/*---Seccion pc gamer---*/
.section-video-container {
    display: flex;
    justify-content: center;
}




/*~~~~~~~~~~~~~~~~~~~~~~~~PRODUCTOS~~~~~~~~~~~~~~~~~~~~~~~~*/
.grid-products {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    place-items: center;
    column-gap: 5px;
}

.product-card {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(104, 153, 151, 0.39);
}

.img-container {
    width: 90%;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.description-container {
    width: 90%;
}

.description-container p {
    text-align: center;
}

.description-container span {
    display: block;
    text-align: center;
}

.kart-options-container {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.kart-options-container input {
    width: 20px;
    text-align: center;
}

.kart-btn-container {
    padding-top: 5px;
    padding-bottom: 5px;
}











/*~~~~~~~~~~~~~~~~~~~~~~~~CONTACTO~~~~~~~~~~~~~~~~~~~~~~~~*/
#contact-form {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.form-container {
    border: rgb(78, 75, 75) solid 1px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(86, 74, 253, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 25px;
    width: 50%;
    margin: 0 top;
}

.form-buttons-container,
.form-group-radio,
.form-group {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-group-radio {
    display: flex;
    padding: 10px;
}

.form-buttons-container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 10px;
}

.form-buttons-container button {
    width: 35%;
    height: 150%;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.2s;
}

.form-buttons-container button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(86, 74, 253, 0.5);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~in-construction.html~~~~~~~~~~~~~~~~~~~~~~~~*/
#in-construction-image {
    width: 70%;
}