body{
    font-family: 'Roboto';
    margin: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~Barra de navegacion~~~~~~~~~~~~~~~~~~~~~~~~*/

header{
    background-color: rgb(0, 0, 0);
}

.nav-container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo-container{
    flex: 1;
}

.nav-logo{
    width: 100px;
    padding-left: 5px;
}

nav{
    flex: 2;
}

nav ul {
    display: flex;
    justify-content: center;
    column-gap: 5%;
    list-style: none;
    padding: 0;
}

nav li{
    transition: transform 0.2s;
}

nav li:hover{
    transform: scale(1.1);
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;

}

.nav-items-container{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.nav-item-cart{
    width: 40px;
    padding-right: 15px;
    transition: transform 0.2s;
}

.nav-item-cart:hover{
    transform: scale(1.2);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~Main index~~~~~~~~~~~~~~~~~~~~~~~~*/
main{
    background-image: url(../img/background-image.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.home-main-container{
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 1200px;
    margin: 0 auto;
    color: rgb(233, 252, 245);
}

/*--------Imagen portada--------*/
.frontpage-container{
    display: flex;
    justify-content: center;
    max-width: 1200px;
}

.frontpage-image{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

/*--------Titulos--------*/
.home-main-container h1{
    text-align: center;
    padding-top: 30px;
    margin: 0;
}

.home-main-container h2{
    text-align: center;
}


/*---Elementos de secciones---*/
.home-main-container section{
    padding-bottom: 30px;
}

.home-main-container article{
    border: dotted 1px black;
}

.home-main-container p{
    text-align: justify;
    max-width: 1050px;
    margin: 0 auto;
    padding: 10px;
}

.section-divider{
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 40px auto;
    max-width: 1050px;
}


/*---Seccion categorias---*/
.category-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.category-item{
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid rgb(74, 60, 201);
}

.category-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s;
}

.category-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-weight: bold;
    font-size: 18px;
    opacity: 1;
}

.category-overlay span{
    padding-bottom: 10px;
}

.category-item:hover img{
    transform: scale(1.1);
}


/*---Seccion pc gamer---*/
.section-video-container{
    display: flex;
    justify-content: center;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~General Footer~~~~~~~~~~~~~~~~~~~~~~~~*/

footer{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px 20px;
    text-align: center;
}

.footer-items-container{
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.footer-items-container img{
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}

.footer-items-container a:hover img{
    transform: scale(1.2);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~General MediaQueries~~~~~~~~~~~~~~~~~~~~~~~~*/
@media(max-width:600px){
    .frontpage-container{
        display: none;
    }

    .nav-logo{
        width: 100px;
        padding: 15px
    }

    .nav-container{
        flex-direction: column;
        margin: 0 auto;
    }

    nav{
        width: 100%;
    }

    nav ul {
        display: block;
        list-style: none;
        padding: 0;
        text-align: center;
    }

    nav li{
        border: rgb(78, 75, 75) solid 1px;
        margin: 15px auto;
        padding: 15px;
        border-radius: 13px;
        box-shadow: 0 4px 8px rgba(86, 74, 253, 0.5);
        width: 90%;
    }

    nav li a{
        font-size: 20px;
    }

    .nav-items-container{
        width: 92%;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(86, 74, 253, 0.5);
        border: rgb(78, 75, 75) solid 1px;
        border-radius: 12px;
        padding: 8px;
        margin-bottom: 20px;
    }

    .nav-item-cart:hover,
    nav li:hover{
        transform: none;        
    }

}